.servicios1{
  padding: 10px;
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  background-color: white;
  padding: 30px;
  box-shadow: rgba(40, 40, 90, 0.20) 0px -50px 36px -28px inset;
  color: var(--gray-700)
}




.leerMas{
  color: var(--blue);
  margin-left: 10px;
  font-size: 12px;
/*  background-color: rgba(0, 0, 0, .1);*/
  padding: 2px 2px 0 2px;
  font-style: italic;
  margin-bottom: 0;
}

.d-node{
  display:none;
}



.g4{
  width: 100%;
}

.gallery{
  text-align: center;
  display: flex;
  margin-top: 50px;
}

.gallery>img{
  width: 60%;
  height: 500px;
}

.gallery>button{
  margin: auto;
  padding: 10px;
  border: none;
  padding: 250px 5%;
  border-radius: 0;
}

.barras{
  display: flex;
  margin-top:10px ;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
}

.claro{
  background-color: rgba(0, 0, 0, .1);
  height: 10px;
  width: 30px;
}

.oscuro{
  background-color: rgba(0, 0, 0, 1);
  height: 10px;
  width: 30px;
}

.servicioLabel{
  border: 1px solid var(--gold);
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;

}


@media(max-width:900px){
  .servicios1{
    font-size: 19px;
  }
  .gallery>img{
      width: 80%;
      height: 260px;
  }
  .gallery>button{
     padding: 130px 2.5%;
  }
  .barras{
     width: 80%;
     margin-left: 10%;
  }
  .claro{
    width: 20px;
  }
  .oscuro{
    width: 20px;
  }
}

