.tipos{
	min-height: 100vh;
	margin-top: 50px;
	 background-color: white;
	 padding: 20px;
	 margin-bottom: 40px;
	 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	 text-align: center;
}

.t1{
	color: var(--gold);
}



.texto1{
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  color: var(--gray-700);
  border: 1px solid var(--logoColor);
}


@media(max-width:900px){
  .tipoDePlagas{
    font-size: 16px;
  }
}